/* Add a black background color to the top navigation */
.topnav
{
    overflow: hidden;

    background-color: #333;
}

/* Style the links inside the navigation bar */
.topnav a
{
    font-size: 17px;
    font-weight: bolder;
    font-weight: 600;

    float: left;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: #f2f2f2;
}

/* Change the color of links on hover */
.topnav a:hover
{
    color: black;
    background-color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active
{
    color: white;
    background-color: #4caf50;
}
